{% set repo_path = (ansible_facts.distribution | lower in ["centos", "redhat"])
                   | ternary("/enterprise", "/fedora")
                   + "/"
                   + (ansible_facts.distribution_major_version is version("27", "<="))
                     | ternary(ansible_facts.distribution_major_version, "27")
                     + "/x86_64" %}

{% set repo_packages = lookup('url',
                              ocs_agent_repo_host
                              + '/'
                              + repo_path).split("<tr>")
                       | select('search', '".*gent-.*.rpm"')
                       | map('regex_replace', '.*a href="(.*\.rpm)".*', '\\1')
                       | list %}

{% set versions = repo_packages
                  | map("regex_replace", ".*-.gent-([0-9.]+)-.*", "\\1")
                  | list %}

{% set ns = namespace(latest="1.0.0") %}
{% for v in versions %}
{% if v is version(ns.latest | string, ">") %}
{% set ns.latest = v %}
{% endif %}
{% endfor %}

{% for p in repo_packages
            | select("search", ns.latest)
            | list %}
- id: ocsinventory_package_{{ loop.index0 }}
  type: https
  host: "{{ ocs_agent_repo_host }}"
  path: "{{ repo_path }}"
  file: "{{ p }}"
  dest: /tmp
  no_log: no
{% endfor %}
