{{ ansible_managed | comment }}
#
# OCS Inventory "Unix Unified Agent" Configuration File
# used by hourly cron job
#

# Add tools directory if needed (tw_cli, hpacucli, ipssend, ...)
PATH=/sbin:/bin:/usr/sbin:/usr/bin

# Mode, change to "cron" to activate
OCSMODE[0]={{ ocs_agent_mode }}

# can be used to override the ocsinventory-agent.cfg setup.
{% if ocs_agent_remoteserver is defined %}
OCSSERVER[0]={{ ocs_agent_remoteserver }}
{% else %}
#OCSSERVER[0]=your.ocsserver.name
{% endif %}
#
# corresponds with --local=/var/lib/ocsinventory-agent
# OCSSERVER[0]=local

# Wait before inventory
OCSPAUSE[0]={{ ocs_agent_pause }}

# Administrative TAG (optional, must be filed before first inventory)
OCSTAG[0]={{ ocs_agent_tag }}
