{% if  ocs_agent_get_releases_result.json is defined %}
{% for release in ocs_agent_get_releases_result.json %}
{% if release.name.split() | last == ocs_agent_version_to_install %}
tag: "{{ release.tag_name }}"
{% endif %}
{% endfor %}
{% else %}
tag: "v{{ ocs_agent_version_to_install }}"
{% endif %}
