{%- set latest = ocs_agent_get_releases_result.json.0.name.split()
                 | last
                 | default("") %}
{%- if ocs_agent_artifact is defined %}
version: "{{ ocs_agent_artifact.file | regex_replace(".*-([0-9.]+)\.tar.gz", "\\1") }}"
{%- else %}
version: "{{ ocs_agent_version | default(latest) }}"
{%- endif %}
